a {
    color: #7aa6da;

    border: 2px solid transparent;
    padding: 4px;

    transition: border .15s ease-in-out, color .15s ease-in-out;
}

a:hover, a:focus {
    border: 2px solid orange;
    color: orange;
    text-decoration: none;
}

body {
    color: white;
    font-family: Consolas,"courier new";
    font-size: 30px;

    margin: 15rem 0 0 0;
    text-align: center;

    background-color: #252525;
}

footer {
    color: white;
    font-size: 10px;

    text-align: center;

    padding: 500px 0 100px 0;
}

ul {
    list-style-type: none;

    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
}

.github-link {
    background-image: url(/media/GitHub-Mark-32px.png);
    background-repeat: no-repeat;
    background-position: left center;
    
    display: inline;
    margin: 0 40px 0 0;
    padding: 0 0 0 40px;
}