@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#home-typewriter {
    text-align: center;
    margin: 80px auto 10px auto;
    width: 1350px;
    border-right: solid 2px rgba(255,165,0,.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 28px;
    color: white;

    animation:  home-animated-text 2s steps(38) 1s 1 normal both,
                animated-cursor 500ms steps(38) infinite;
}

/* text animation */

@keyframes home-animated-text{
  from {
        width: 0;
    }

  to {
        width: 640px;
    }
}

/* ~ cursor animations */

@keyframes animated-cursor{
  from {
        border-right-color: rgba(255,165,0,.8);
    }

  to {
        border-right-color: transparent;
    }
}


a:hover, a:focus {
    border: 2px solid rgb(255, 165, 0);
    color: orange;
    text-decoration: none;
}

footer {
    color: white;
    font-size: 10px;

    text-align: center;

    padding: 350px 0 100px 0;
}

.home-github-link {
    background-image: url(/media/GitHub-Mark-32px.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 27px 27px;
    
    padding-left: 35px;
}

.main-menu {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    list-style-type: none;

    margin: 0 auto;
    max-width: 1350px;
    padding: 150px 35px 0px 35px;
}

.home-resume-link {
    background-image: url(/media/resume-icon.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left center;
    
    padding-left: 32px;
}