@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#money_saver, #pushups_gif {
    max-width: 500px;
    height: auto;
    display: block;
}

#resume {
    height: 1400px;
    width: 100%;
    margin: 25px auto 0 auto;
    border: none;
}

#theme-switch {
    height: 55px;
    width: 55px;
    border-radius: 50px;

    font-size: 15px;

    text-align: center;

    background-image: url(/media/icons/sun-Freepik.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px 50px;
}

.description {
    max-width: 500px;
}

.github-link {
    background-image: url(/media/icons/GitHub-Mark-32px-black.png);
    background-repeat: no-repeat;
    background-position: left center;

    background-size: 20px 20px;
    padding-left: 25px;
}

.home#theme-switch {
    margin: 0 0 0 auto;
}

.home-github-link {
    background-image: url(/media/icons/GitHub-Mark-32px-black.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 27px 27px;

    padding-left: 35px;
}

.home-resume-link {
    background-image: url(/media/icons/resume-icon.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left center;

    padding-left: 32px;
}

.interest {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.interest .description {
    flex: 1 1 400px;
}

.interest img {
    flex: 1 0 0;
}

.resume-link {
    background-image: url(/media/icons/resume-icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left center;

    padding-left: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 20px;
}

.text {
    position: relative;
    top: 50%;
}

.top-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;

    gap: 10px;
}

.top-nav a {
    flex: 1 0 1;

    display: flex;
    align-items: center;
}

.main-menu {
    list-style-type: none;
    font-size: 30px;
    padding: 150px 35px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

a {
    color: #1515d1;
    text-decoration: none;

    border: 2px solid transparent;
    border-radius: 7px;
    margin: 0;
    padding: 0 2px;
}

a:hover, a:focus {
    color: #7A5000;
    text-decoration: none;

    border: 2px solid #7A5000;
}

body {
    color: #252525;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;

    margin: 10px auto;
    max-width: 1150px;
    padding: 0;

    background-color: #ffffff;
}

footer {
    color: #252525;
    font-size: 10px;

    text-align: center;

    margin: 350px auto 40px auto;
}

h2 {
    border: .01em solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
}

@media screen and (max-width: 450px) {
    .top-container {
        flex-flow: column nowrap;
        align-items: flex-end;
        margin: 0 10px 0 0;
    }

    .top-nav {
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    body {
        max-width: 350px;
        padding: 10px;
    }

    #money_saver, #pushups_gif {
        min-width: 300px;
    }
}