@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#home-typewriter {
    animation:  home-animated-text 3s steps(38) 1s 1 normal both,
                animated-cursor 500ms steps(38) infinite;
}

#about-typewriter {
    animation:  about-animated-text .7s steps(8) 1s normal both,
                animated-cursor 500ms steps(8) infinite;
}

#resume-typewriter {
    animation:  resume-animated-text .4s steps(6) 1s normal both,
                animated-cursor 500ms steps(6) infinite;
}

/* text animations */
@keyframes home-animated-text{
    from {
          width: 0;
      }
  
    to {
          width: 664px;
      }
  }

@keyframes about-animated-text{
  from {
        width: 0;
    }

  to {
        width: 142px;
    }
}

@keyframes resume-animated-text{
  from {
        width: 0;
    }

  to {
        width: 110px;
    }
}

/* cursor animations */

@keyframes animated-cursor{
  from {
        border-right-color: rgba(255,165,0,.8);
    }

  to {
        border-right-color: transparent;
    }
}

#money_saver, #pushups_gif {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#resume {
    height: 1400px;
    width: 100%;
    margin: 25px auto 0 auto;
    border: none;
}

#theme-switch {
    height: 55px;
    width: 55px;
    border-radius: 50px;

    font-size: 15px;

    text-align: center;

    background-image: var(--theme-switch-icon);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px 50px;
}

.github-link {
    background-image: var(--github-icon);
    background-repeat: no-repeat;
    background-position: left center;

    background-size: 20px 20px;
    padding-left: 25px;
}

.home#theme-switch {
    margin: 0 0 0 auto;
}

.home-github-link {
    background-image: var(--github-icon);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 27px 27px;
    
    padding-left: 35px;
}

.home-resume-link {
    background-image: url(/media/icons/resume-icon.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left center;
    
    padding-left: 32px;
}

.interest {
    display: flex;
    flex-flow: row wrap;
}

.interest .description {
    flex: 1 1 400px;
}

.interest img {
    flex: 1 0 0;
}

.resume-link {
    background-image: url(/media/icons/resume-icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left center;

    padding-left: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 20px;
}

.text {
    position: relative;
    top: 50%;
}

.top-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 5px 0 0 0;

    gap: 10px;
}

.top-nav a {
    flex: 1 0 1;

    display: flex;
    align-items: center;
}

.type-writer {
    text-align: center;
    color: var(--text-color);

    font-family: 'Inconsolata', monospace;
    font-size: 35px;

    margin: 80px auto 10px auto;
    white-space: nowrap;
    overflow: hidden;
    
    border-right: solid 2px rgba(255,165,0,.75);
}

.main-menu {
    list-style-type: none;
    font-size: 30px;
    padding: 150px 35px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

a {
    color: var(--link-color);
    text-decoration: none;

    border: 2px solid transparent;
    border-radius: 7px;
    margin: 0;
    padding: 0 2px;
    transition: border .15s ease-in-out, color .15s ease-in-out;
}

a:hover, a:focus {
    color: var(--link-hover-color);
    text-decoration: none;

    border: 2px solid var(--link-hover-color);
}

body {
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;

    margin: 10px auto;
    max-width: 1150px;
    padding: 0;

    background-color: var(--back-color);
    transition-duration: .1s;
}

footer {
    color: var(--text-color);
    font-size: 10px;

    text-align: center;

    margin: 350px auto 40px auto;
}

h1, h2, h3, h4{
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
}

h2 {
   text-align: left;
   border-bottom: 1px solid #4D4F4D;

   padding: 2rem 0 0 0;
}