@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#home-typewriter {
    text-align: center;
    margin: 80px auto 10px auto;
    width: 1350px;
    border-right: solid 2px rgba(255,165,0,.75);
    white-space: nowrap;
    overflow: hidden;
    font-size: 28px;
    color: white;

    animation:  home-animated-text 2s steps(38) 1s 1 normal both,
                animated-cursor 500ms steps(38) infinite;
}

#about-typewriter {
    text-align: center;
    margin: 80px auto 10px auto;
    width: 1350px;
    border-right: solid 2px rgba(255,165,0,.75);
    white-space: nowrap;
    overflow: hidden;
    color: white;

    animation:  about-animated-text .5s steps(8) 1s normal both,
                animated-cursor 500ms steps(8) infinite;
}

#resume-typewriter {
    text-align: center;
    margin: 80px auto 10px auto;
    width: 1350px;
    border-right: solid 2px rgba(255,165,0,.75);
    white-space: nowrap;
    overflow: hidden;
    color: white;

    animation:  resume-animated-text .3s steps(6) 1s normal both,
                animated-cursor 500ms steps(6) infinite;
}

/* text animations */
@keyframes home-animated-text{
    from {
          width: 0;
      }
  
    to {
          width: 640px;
      }
  }

@keyframes about-animated-text{
  from {
        width: 0;
    }

  to {
        width: 185px;
    }
}

@keyframes resume-animated-text{
  from {
        width: 0;
    }

  to {
        width: 140px;
    }
}

/* cursor animations */

@keyframes animated-cursor{
  from {
        border-right-color: rgba(255,165,0,.8);
    }

  to {
        border-right-color: transparent;
    }
}

#money_saver, #pushups_gif {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#resume {
    height: 1400px;
    width: 100%;
    margin: 25px auto 0 auto;
    border: none;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: flex-end;
}

.flex-item {
    flex: 1;
}

.gallery {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.gallery img {
    max-width: 1350px;
    min-width: 400px;
    height: auto;
}

.github-link {
    background-image: url(/media/GitHub-Mark-32px.png);
    background-repeat: no-repeat;

    background-size: 20px 20px;
    padding-left: 25px;
}

.home-body {
    font-size: 30px;
}

.home-github-link {
    background-image: url(/media/GitHub-Mark-32px.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 27px 27px;
    
    padding-left: 35px;
}

.home-resume-link {
    background-image: url(/media/resume-icon.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: left center;
    
    padding-left: 32px;
}

.resume-link {
    background-image: url(/media/resume-icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left center;

    padding-left: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 20px;
}

.text {
    position: relative;
    top: 50%;
}

.top-nav {
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    margin: 5px 0 0 0;
    padding: 0 0 25px 0;
}

.main-menu {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    list-style-type: none;

    margin: 0 auto;
    max-width: 1350px;
    padding: 150px 35px 0px 35px;
}

a {
    color: #7aa6da;

    border: 2px solid transparent;
    margin: 0 0 0 0;
    transition: border .15s ease-in-out, color .15s ease-in-out;
}

a:hover, a:focus {
    border: 2px solid orange;
    color: orange;
    text-decoration: none;
}

body {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;

    margin: 0 auto;
    max-width: 1350px;
    padding: 0 35px;

    background-color: #252525;
}

footer {
    color: white;
    font-size: 10px;

    text-align: center;

    margin: 350px auto 40px auto;
}

h1, h2, h3, h4{
   color: white;
}

h1 {
   text-align: center;
}

h3{
    padding: 10px 0 0 0;
}

h2 {
   text-align: left;
   border-bottom: 1px solid #4D4F4D;

   padding: 2rem 0 0 0;
}

h4 {
   text-align: left;

   padding: 1rem 0 0 0;
}

img {
    max-width: 100%;
    height: auto;
}