:root {
    --back-color: #1F1F1F;
    --text-color: #ffffff;
    --link-color: #7aa6da;
    --link-hover-color: #FFB224;
    --github-icon: url(/media/icons/GitHub-Mark-32px-white.png);
    --theme-switch-icon: url(/media/icons/newmoon-Freepik.png);
}

body.dark-theme {
    background-color: var(--back-color);
    color: var(--text-color);
}

body.dark-theme .github-link {
    background-image: var(--github-icon);
    background-repeat: no-repeat;
    background-position: left center;

    background-size: 20px 20px;
    padding-left: 25px;
}

body.dark-theme .home-github-link {
    background-image: var(--github-icon);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 27px 27px;

    padding-left: 35px;
}

body.dark-theme .moon {
    display: block;

    height: 55px;
    width: 55px;
    border-radius: 50px;
}

body.dark-theme .sun {
    display: none;
}

body.dark-theme .theme-switch {
    border: 2px solid transparent;
}

body.dark-theme .theme-switch::after {
    content: 'Light';
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: var(--text-color);
}

body.dark-theme a {
    color: var(--link-color);
}

body.dark-theme a:focus {
    color: var(--link-hover-color);
    border: 2px solid var(--link-hover-color);
}

body.dark-theme a:hover {
    color: var(--link-hover-color);
}

body.dark-theme footer {
    color: var(--text-color);
}

body.dark-theme h2 {
    border: .01em solid var(--text-color);
    border-top: none;
    border-left: none;
    border-right: none;
}