:root {
    --back-color: white;
    --primary-color: #252525;
    --link-color: #1515d1;

    --light-back-color: white;
    --light-primary-color: #252525;
    --light-link-color: #1515d1;
}

body {
    background-color: var(--back-color);
    color: var(--primary-color);
}

a {
    color: var(--link-color);
}